{{ define "main" }}

<h1>Site Map</h1>
<ul>
    <li>
        <a href="/">Index</a>
    </li>
{{ range sort $.Site.RegularPages.ByTitle }}
    {{ if (ne .Params.sitemapIgnore true) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
{{ end }}
</ul>

{{ end }}