<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
    <head>
      
        <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index,follow">
        <meta name="keywords" content="{{ .Site.Title }}">
        <meta name="description" content="{{ .Params.description }}">
        <meta name="hugo-environment" content="{{ hugo.Environment }}">
        <meta name="hugo-version" content="{{ hugo.Version }}">
        
        {{ if hugo.IsProduction }}
          {{ $style := resources.Get "css/styles.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="all">
        {{ else }}
          {{ $style := resources.Get "css/styles.scss" | toCSS }}
          <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="all">
        {{ end }}
        
        {{ if hugo.IsProduction }}
          {{ $js := resources.Get "js/script.js" | minify }}
        <script src="{{ $js.RelPermalink }}"></script>
        {{ else }}
          {{ $js := resources.Get "js/script.js" }}
        <script src="{{ $js.RelPermalink }}"></script>
        {{ end }}
    
    </head>
    <body>
    
        <div id="app">
            
            {{ block "main" . }}
            {{ end }}
            
        </div>
        
    </body>
</html>