/*some useful custom utility classes */
.break-container {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}